@font-face {
    font-family: "TsangerYuMo_W01";
    src: local("TsangerYuMo"),
    url("TsangerYuMo_W01.woff") format("woff"), /* Modern Browsers */ url("TsangerYuMo_W01.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "TsangerYuMo_W02";
    src: local("TsangerYuMo"),
    url("TsangerYuMo_W02.woff") format("woff"), /* Modern Browsers */ url("TsangerYuMo_W02.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "TsangerYuMo_W03";
    src: local("TsangerYuMo"),
    url("TsangerYuMo_W03.woff") format("woff"), /* Modern Browsers */ url("TsangerYuMo_W03.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "TsangerYuMo_W04";
    src: local("TsangerYuMo"),
    url("TsangerYuMo_W04.woff") format("woff"), /* Modern Browsers */ url("TsangerYuMo_W04.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "TsangerYuMo_W05";
    src: local("TsangerYuMo"),
    url("TsangerYuMo_W05.woff") format("woff"), /* Modern Browsers */ url("TsangerYuMo_W05.ttf") format("truetype"); /* Safari, Android, iOS */
}
.TsangerYuMo_W01 {
    font-family: "TsangerYuMo_W01", sans-serif;
}
.TsangerYuMo_W02 {
    font-family: "TsangerYuMo_W02", sans-serif;
}
.TsangerYuMo_W03 {
    font-family: "TsangerYuMo_W03", sans-serif;
}
.TsangerYuMo_W04 {
    font-family: "TsangerYuMo_W04", sans-serif;
}
.TsangerYuMo_W05 {
    font-family: "TsangerYuMo_W05", sans-serif;
}